<%- include("../partials/header") %>

    <title><%= bot.user.username.toLowerCase() %>.fun - admin zone</title>
    
    <div class="min-h-screen">
    <aside class="bg-[#aaaaaa10] border border-[#aaaaaa10] shadow-lg -translate-x-80 fixed inset-1 z-80 mt-36 ml-4 w-72 h-min rounded-xl duration-300 xl:translate-x-0">
      <div>
        <a class="flex items-center gap-4 py-6 px-8">
          <h6 class="tracking-normal font-sans text-base font-semibold leading-relaxed text-white"><%- __('WEB.NAVIGATION')%></h6>
        </a>
        <button class="middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-8 max-w-[32px] h-8 max-h-[32px] rounded-lg text-xs text-white hover:bg-white/10 active:bg-white/30 right-0 top-0 grid rounded-br-none rounded-tl-none xl:hidden" type="button">
          <span class="top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5 text-white">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </span>
        </button>
      </div>
      <div class="m-4">
        <ul class="mb-4 flex flex-col gap-1">
          <li>
            <a aria-current="page" class="active" href="/admin/panel">
              <button class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85] w-full flex items-center gap-4 px-4 capitalize" type="button">
                  <i class="fa-solid fa-chart-line w-5 h-5 text-inherit mt-2"></i>
                <p class="font-sans text-base leading-relaxed text-inherit font-medium capitalize"><%- __('WEB.PANEL_TAB')%></p>
              </button>
            </a>
          </li>
            <li>
                <button onclick="openModal()" class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize" type="button">
                  <i class="fa-solid fa-arrows-rotate w-5 h-5 text-inherit mt-2"></i>
                  <p class="font-sans text-base leading-relaxed text-inherit font-medium capitalize"><%- __('WEB.RESTART_TAB')%></p>
                </button>
            </li>
          <li>
              <button id="logs-button" class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize" type="button">
                <i class="fa-solid fa-terminal h-5 w-5 text-inherit mt-2"></i>
                <p class="font-sans text-base leading-relaxed text-inherit font-medium capitalize"><%- __('WEB.LOGS_TAB')%></p>
              </button>
          </li>
        <li>
          <a href="/admin/panel">
            <button disabled class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize" type="button">
              <i class="fa-solid fa-lock  w-5 h-5 text-inherit mt-2"></i>
              <p class="font-sans text-base leading-relaxed text-inherit font-medium capitalize"><%- __('WEB.AUTH_TAB')%></p>
            </button>
          </a>
        </li>
      </div>
    </aside>
    <div class="main-modal text-white fixed w-full h-100 inset-0 z-50 overflow-hidden flex justify-center items-center animated fadeIn faster bg-[#1d1c1c88]">
		<div
			class="modal-container bg-[#0E121C] border border-[#aaaaaa10] shadow-lg w-11/12 md:max-w-md mx-auto rounded z-50 overflow-y-auto">
			<div class="modal-content py-4 text-left px-6">
				<div class="flex justify-between items-center pb-3">
					<p class="text-2xl font-bold"><%- __('WEB.MODAL_CONFIRMATION')%></p>
					<div class="modal-close cursor-pointer z-50">
						<button class="button-close">
              <span class="X"></span>
              <span class="Y"></span>
            </button>            
					</div>
				</div>
				<div class="my-5">
					<p><%- __('WEB.MODAL_QUESTION')%></p>
				</div>
				<div class="flex justify-end pt-2">
          <form action="/restart" method="post">
					<button type="submit"
						class="button-simple px-4 p-3 rounded-lg bg-[#aaaaaa10] hover:bg-[#4dbe579a]"><%- __('WEB.MODAL_CONFIRM')%></button>
          </form>
					<button
						class="button-simple modal-close px-4 bg-[#aaaaaa10] hover:bg-[#cf545488] p-3 ml-3 rounded-lg"><%- __('WEB.MODAL_CANCEL')%></button>
				</div>
			</div>
		</div>
	</div>
    <div class="p-4 xl:ml-80">
      <div class="mt-12">
        <div class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-4">
          <div class="flex flex-col bg-clip-border rounded-xl bg-[#aaaaaa10] border border-[#aaaaaa10] shadow-lg text-white">
            <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-blue-500/40 shadow-lg -mt-4 grid h-16 w-16 place-items-center">
                <i class="fa-solid fa-house"></i>
            </div>
            <div class="p-4 text-right">
              <p class="font-sans text-sm leading-normal font-normal text-blue-gray-600"><%- __('WEB.PANEL_GUILDS')%></p>
              <h4 class="tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900"><%= guilds || 0 %></h4>
            </div>
            <div class="border-t border-blue-gray-50 p-4">
              <p class="font-sans text-base leading-relaxed font-normal text-blue-gray-600">
                <%= guildsStatus || 0 %>
              </p>
            </div>
          </div>
          <div class="flex flex-col bg-clip-border rounded-xl bg-[#aaaaaa10] border border-[#aaaaaa10] shadow-lg text-white">
            <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-pink-600 to-pink-400 text-white shadow-pink-500/40 shadow-lg -mt-4 grid h-16 w-16 place-items-center">
                <i class="fa-solid fa-users"></i>
            </div>
            <div class="p-4 text-right">
              <p class="font-sans text-sm leading-normal font-normal text-blue-gray-600"><%- __('WEB.PANEL_USERS')%></p>
              <h4 class="tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900"><%= cachedUsers || 0 %></h4>
            </div>
            <div class="border-t border-blue-gray-50 p-4">
              <p class="font-sans text-base leading-relaxed font-normal text-blue-gray-600">
                <%= usersStatus || 0 %>
              </p>
            </div>
          </div>
          <div class="flex flex-col bg-clip-border rounded-xl bg-[#aaaaaa10] border border-[#aaaaaa10] shadow-lg text-white">
            <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-green-600 to-green-400 text-white shadow-green-500/40 shadow-lg -mt-4 grid h-16 w-16 place-items-center">
                <i class="fa-solid fa-terminal"></i>
            </div>
            <div class="p-4 text-right">
              <p class="font-sans text-sm leading-normal font-normal text-blue-gray-600"><%- __('WEB.PANEL_COMMANDS')%></p>
              <h4 class="tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900"><%= commands_used || 0 %></h4>
            </div>
            <div class="border-t border-blue-gray-50 p-4">
              <p class="font-sans text-base leading-relaxed font-normal text-blue-gray-600">
                <%- __('WEB.PANEL_USE_TOTAL')%>
              </p>
            </div>
          </div>
          <div class="flex flex-col bg-clip-border rounded-xl bg-[#aaaaaa10] border border-[#aaaaaa10] shadow-lg text-white">
            <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-orange-600 to-orange-400 text-white shadow-orange-500/40 shadow-lg -mt-4 grid h-16 w-16 place-items-center">
                <i class="fa-solid fa-music"></i>
            </div>
            <div class="p-4 text-right">
              <p class="font-sans text-sm leading-normal font-normal text-blue-gray-600"><%- __('WEB.PANEL_SONGS')%></p>
              <h4 class="tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900"><%= songs_played || 0 %></h4>
            </div>
            <div class="border-t border-blue-gray-50 p-4">
              <p class="font-sans text-base leading-relaxed font-normal text-blue-gray-600">
                <%- __('WEB.PANEL_USE_TOTAL')%>
              </p>
            </div>
          </div>
        </div>
        <div class="flex flex-col bg-clip-border rounded-xl bg-[#aaaaaa10] border border-[#aaaaaa10] shadow-lg text-white overflow-hidden xl:col-span-2">
            <div class="bg-clip-border rounded-xl overflow-hidden bg-transparent text-white shadow-none m-0 flex items-center justify-between p-6">
              <div>
                  <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900 mb-1"><%- __('WEB.PANEL_LAST_COMMITS')%></h6>
                      <p class="antialiased font-sans text-sm leading-normal flex items-center gap-1 font-normal text-blue-gray-600">
                          <i class="fa-solid fa-code-commit h-4 w-4 text-orange-400"></i>
                        <a class="font-extrabold" href="https://github.com/skillzl/eres">github.com/skillzl/eres</a> <span class="text-gray-500">-</span> <%- __('WEB.PUBLIC_REPO')%>
                      </p>
                    </div>
                  </div>
                    <div class="p-6 overflow-x-scroll px-0 pt-0 pb-2">
                      <table class="w-full min-w-[640px] table-auto">
                        <thead>
                          <tr>
                            <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                              <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400"><%- __('WEB.REPO_AUTHOR')%></p>
                            </th>
                            <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                              <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400"><%- __('WEB.REPO_MESSAGE')%></p>
                            </th>
                            <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                                <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400"><%- __('WEB.REPO_DATE')%></p>
                              </th>
                            <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                              <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400"><%- __('WEB.REPO_LINK')%></p>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                            <% commits.forEach(commit => { %>
                          <tr>
                            <td class="py-3 px-5 border-b border-blue-gray-50">
                              <div class="flex items-center gap-4">
                                <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold"><%= commit.author %></p>
                              </div>
                            </td>
                            <td class="py-3 px-5 border-b border-blue-gray-50">
                              <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600"><%= commit.message %></p>
                            </td>
                            <td class="py-3 px-5 border-b border-blue-gray-50">
                                <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600"><%= commit.date %></p>
                              </td>
                            <td class="py-3 px-5 border-b border-blue-gray-50">
                              <div class="w-10/12">
                                <p class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600"><a href="<%= commit.url %>"><%- __('WEB.REPO_VIEW_COMMIT')%></a></p>
                                <div class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1">
                                  <div class="flex justify-center items-center h-full bg-gradient-to-tr from-green-600 to-green-400 text-white" style="width: 38%;"></div>
                                </div>
                              </div>
                            </td>
                          </tr>
                            <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="rounded-xl bg-[#aaaaaa10] border border-[#aaaaaa10] shadow-lg text-white p-6 mt-3" id="logs-card">
                  <div>
                    <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900 mb-1"><%- __('WEB.PANEL_PROCESS_LOGS')%></h6>
                    <p class="antialiased font-sans text-sm leading-normal flex items-center gap-1 font-normal text-blue-gray-600">
                        <i class="fa-solid fa-terminal h-4 w-4 text-green-500"></i>
                        <span class="font-extrabold"><%- __('WEB.PANEL_LOGS_PM2')%></span> <span class="text-gray-500">-</span> <%- __('WEB.PANEL_GEN_LOGS')%>
                    </p>
                  </div>
                  <pre id="logs" class="mt-4"></pre>
                  <div id="spinner" style="display: none;">
                    <div class="loader size-5"></div>
                  </div>
              </div>
            </div>
          </div>
        </div>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script>
          $('#logs-button').click(function() {
            $('#spinner').show();

            $.get('/logs', function(data) {
              $('#spinner').hide();
              $('#logs').text(data);
            });
          });
          </script>
          
          <script>
          const modal = document.querySelector('.main-modal');
          const closeButton = document.querySelectorAll('.modal-close');
          
          const modalClose = () => {
            modal.classList.remove('fadeIn');
            modal.classList.add('fadeOut');
            
            setTimeout(() => {
              modal.style.display = 'none';
            }, 500);
          }
          
          const openModal = () => {
            modal.classList.remove('fadeOut');
            modal.classList.add('fadeIn');
            modal.style.display = 'flex';
          }

          for (let i = 0; i < closeButton.length; i++) {

            const elements = closeButton[i];
            elements.onclick = (e) => modalClose();
            modal.style.display = 'none';
            window.onclick = function (event) {
              if (event.target == modal) modalClose();
             }
            }
          </script>

    <%- include("../partials/footer") %>