<%- include("../partials/header") %>

    <title><%= bot.user.username.toLowerCase() %>.fun - <%= user.username %><%= user.discriminator && user.discriminator !== '0' ? `#${user.discriminator}` : '' %> profile</title>
    
    <div class="font-sans mt-40 h-min w-full flex flex-row justify-center items-center">
    <div class="card w-96 mx-auto bg-gray-900 shadow-xl hover:shadow">
       <img class="w-32 mx-auto rounded-full -mt-20 border-8 border-gray-900" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>">
       <div class="text-center mt-2 text-3xl font-medium text-white"><%= user.username %><%= user.discriminator && user.discriminator !== '0' ? `#${user.discriminator}` : '' %></div>
       <div class="text-center font-normal text-lg text-gray-200">level <%= level %> (<%= xp %>/<%= maxXp %>)</div>
       <style>        
        #myBar {
          width: 10%;
          height: 20px;
          background-color: #4CAF50;
        }
        </style>
        <div class="w-full rounded-full h-2.5 mt-8" id="myBar"></div>
      <script>
        document.getElementById("myBar").style.width = "<%= percentageXp %>";
      </script>
       <div class="px-6 text-center mt-2 font-light text-sm text-gray-300">
        <script defer src="https://unpkg.com/alpinejs@3.9.1/dist/cdn.min.js"></script>
        <form action="/profile/<%= user.id %>/me" method="post">
          <div x-data="{ open : false }" class="w-90 rounded bg-gray-900 p-2 shadow">
            <div x-show="!open" class="flex items-center justify-between">
              <div class="ml-2"><%= about %></div>
              <button type="button" class="btn rounded px-4 py-2 font-medium hover:text-gray-500" @click="open = !open"><i class="fa-solid fa-pen-to-square"></i></button>
            </div>
            <div x-show="open" class="flex items-center justify-between">
              <input class="mr-4 w-full rounded bg-gray-900 p-2" type="text" name="about" placeholder="<%= about %>" maxlength="50" />
              <div class="flex items-center justify-center space-x-2">
                <button type="button" @click="open = false" class="btn rounded px-2 py-1 font-medium hover:text-red-600"><i class="fa-solid fa-xmark"></i></button>
                <button type="submit" class="btn rounded px-2 py-1 font-medium text-white hover:text-green-600"><i class="fa-solid fa-check"></i></button>
              </div>
            </div>
          </div>
        </form>
       </div>
       <hr class="mt-8">
       <div class="flex p-3">
         <div class="w-1/2 text-center text-amber-300 flex"> <img src="/static/coins-asset.png" alt="eres.fun coins" width="24" height="auto"> 
           <span class="font-bold text-gray-300 ml-5"><%= balance %></span>
         </div>
         <div class="w-0 border border-gray-600">
           
         </div>
         <div class="w-1/2 text-center text-blue-300 flex"> <img class="ml-2" src="/static/reputation-asset.png" alt="eres.fun repu" width="24" height="auto"> 
           <span class="font-bold text-gray-300 ml-7"><%= reputation %></span>
         </div>
       </div>
    </div>
  </div>
  </div>
  <%- include("../partials/footer") %>