<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="title" content="ðŸ eres.fun, your Disocrd Bot here!" />
  <meta name="description" content="A multipurpose discord client written in javascript featuring new commands and a highly optimized web application with control over the bot." />

  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://eres.fun/" />
  <meta property="og:title" content="ðŸ eres.fun, your Disocrd Bot here!" />
  <meta property="og:description" content="A multipurpose discord client written in javascript featuring new commands and a highly optimized web application with control over the bot." />
  <meta property="og:image" content="/static/dashboard.png" />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://eres.fun/" />
  <meta property="twitter:title" content="ðŸ eres.fun, your Disocrd Bot here!" />
  <meta property="twitter:description" content="A multipurpose discord client written in javascript featuring new commands and a highly optimized web application with control over the bot." />
  <meta property="twitter:image" content="/static/dashboard.png" />
  
  <link rel="icon" href="/static/eres-crop.png" type="image/png" sizes="16x16">
  <link href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
  <link rel="stylesheet" href="/stylesheets/style.css">

  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio"></script>
  
  </head>

    <body class="bg-gray-950">
      <nav class="sticky top-0 px-4 py-4 flex justify-between items-center bg-gray-950 backdrop-filter backdrop-blur-lg bg-opacity-30">
		<a class="text-3xl font-bold leading-none" href="/">
			<img src="/static/Logo.png" alt="eres.fun Logo" class="navicon-fade" width="150" height="auto">
		</a>
		<div class="lg:hidden">
			<button class="navbar-burger flex items-center text-gray-600 p-3">
				<svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<title>Mobile menu</title>
					<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
				</svg>
			</button>
		</div>
		<ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:items-center lg:w-auto lg:space-x-6">
			<li><a class="text-sm text-gray-400 navbar-item" href="/">home</a></li>
			<li class="text-gray-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
				</svg>
			</li>
			<li><a class="text-sm text-gray-400 navbar-item" href="/stats">stats</a></li>
			<li class="text-gray-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
				</svg>
			</li>
			<li><a class="text-sm text-gray-400 navbar-item" href="/invite">invite</a></li>
			<li class="text-gray-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
				</svg>
			</li>
			<li><a class="text-sm text-gray-400 navbar-item" href="/support">support</a></li>
		</ul>
        <% if (user) { %>
            <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
            <div x-data="{ open: false }" class="w-64 justify-center items-center">
      <div @click="open = !open" class="relative" :class="{'transform transition duration-300 ': open}" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100">
        <div class="flex justify-center items-center space-x-3 cursor-pointer">
          <div class="w-10 h-10 rounded-full overflow-hidden border-2 border-[#aaaaaa10] ">
            <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>" alt="user avatar" class="w-full h-full object-cover">
          </div>
          <div class="font-semibold text-white text-lg">
            <div class="cursor-pointer"><%= user.username %><%= user.discriminator && user.discriminator !== '0' ? `#${user.discriminator}` : '' %></div>
          </div>
        </div>
        <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute w-60 px-5 py-3 bg-[#aaaaaa10] border border-[#aaaaaa10] shadow-lg rounded-lg mt-5">
          <ul class="space-y-3 text-white">
            <li class="font-medium">
              <a href="/profile/<%= user.id%>/me" class="flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:text-gray-400">
                <div class="mr-2">
                  <i class="ml-1 fa-solid fa-id-card-clip w-6 h-6"></i>
                </div>
                Profile
              </a>
            </li>
            <li class="font-medium">
              <a href="/dashboard/servers" class="flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:text-gray-400">
                <div class="mr-2">
                  <i class="ml-1 fa-solid fa-sliders w-6 h-6"></i>
                </div>
                Manage
              </a>
            </li>
            <% if (user.id === process.env.DEVELOPER_ID) { %>
            <li class="font-medium">
              <a href="/admin/panel" class="flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:text-gray-400">
                <div class="mr-2">
                  <i class="ml-1 fa-solid fa-fingerprint w-6 h-6"></i>
                </div>
                Admin Panel
              </a>
            </li>
            <% } %>
            <hr class="dark:border-gray-700">
            <li class="font-medium">
              <a href="/logout" class="flex items-center transform transition-colors duration-200 border-r-4 border-transparent hover:text-red-400">
                <div class="mr-2 text-red-600">
                  <i class="ml-1 fa-solid fa-right-from-bracket w-6 h-6"></i>
                </div>
                Log out
              </a>
            </li>
          </ul>
        </div>
      </div>
      <% } else { %>
        <a href="/login">
        <button class="hidden lg:inline-block login-button">
          <div class="sign">
            <i class="fa-solid fa-right-to-bracket text-white"></i>
          <div class="text">Login</div>
        </button> 
      </a>
        <% } %>
      </nav>
      <div class="navbar-menu relative z-50 hidden">
        <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
        <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-gray-950 border-r overflow-y-auto backdrop-filter backdrop-blur-lg bg-opacity-30 border-b border-gray-200">
          <div class="flex items-center mb-8">
            <a class="mr-auto text-3xl font-bold leading-none" href="/">
              <img src="/static/Logo.png" alt="eres.fun Logo" class="navicon-fade" width="150" height="auto">
            </a>
            <button class="navbar-close">
              <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
          <div>
            <ul>
              <li class="mb-1">
                <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded" href="/">home</a>
              </li>
              <li class="mb-1">
                <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded" href="/stats">stats</a>
              </li>
              <li class="mb-1">
                <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded" href="/invite">invite</a>
              </li>
              <li class="mb-1">
                <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded" href="/support">support</a>
              </li>
            </ul>
          </div>
          <div class="mt-auto">
            <% if (user) { %>
              <% } else { %>
                <div class="pt-6">
                  <a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-green-600 hover:bg-green-700  rounded-xl" href="/login"><i class="fab fa-discord" style="padding-right: 5px;"></i> Login</a>
                </div>
                <% } %>
              </div>
            </nav>
          </div>
        </body>
        <script>
        document.addEventListener('DOMContentLoaded', function() {
          const burger = document.querySelectorAll('.navbar-burger');
          const menu = document.querySelectorAll('.navbar-menu');

          if (burger.length && menu.length) {
            for (var i = 0; i < burger.length; i++) {
              burger[i].addEventListener('click', function() {
                for (var j = 0; j < menu.length; j++) {
                  menu[j].classList.toggle('hidden');
                }
            });
          }
        }
        
        const close = document.querySelectorAll('.navbar-close');
        const backdrop = document.querySelectorAll('.navbar-backdrop');

        if (close.length) {
          for (var i = 0; i < close.length; i++) {
            close[i].addEventListener('click', function() {
                for (var j = 0; j < menu.length; j++) {
                    menu[j].classList.toggle('hidden');
                }
              });
            }
          }

          if (backdrop.length) {
            for (var i = 0; i < backdrop.length; i++) {
              backdrop[i].addEventListener('click', function() {
                for (var j = 0; j < menu.length; j++) {
                    menu[j].classList.toggle('hidden');
                }
            });
        }
    }
});
</script>