<%- include("../partials/header") %>

<title><%= bot.user.username.toLowerCase() %>.lol - <%= guild.name %></title>

<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.4/dist/flowbite.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="flex items-center justify-center min-h-screen">
	<div class="col-span-12">
		<form action="/dashboard/server/<%= guild.id %>/members?search=<%= searchQuery %>" method="GET" class="relative mx-auto w-max" >
			<input type="text" name="search" class="mb-5 ml-4 cursor-pointer z-10 h-12 w-12 rounded-full bg-transparent pl-12 focus:w-full focus:cursor-text focus:pl-16 focus:pr-4 text-white focus:bg-[#aaaaaa10] focus:border focus:border-[#aaaaaa10] focus:shadow-lg" />
			<i class="fa-solid fa-magnifying-glass text-gray-400 absolute z-20 top-4 left-8"></i>
		</form>
		<div class="overflow-auto lg:overflow-visible ">
			<div class="table-responsive">
				<table id="myTable" class="table text-gray-400 border-separate space-y-5 text-sm">
					<thead class="bg-[#aaaaaa10] border border-[#aaaaaa10] shadow-lg text-gray-500">
						<tr>
							<th class="p-3"><%- __('WEB.MEMBERS_DISPLAY_NAME')%></th>
							<th class="p-3 text-left"><%- __('WEB.STATS_LEGACY')%></th>
							<th class="p-3 text-left"><%- __('WEB.STATS_ID')%></th>
							<th class="p-3 text-left"><%- __('WEB.STATS_JOINED')%></th>
							<th class="p-3 text-left"><%- __('WEB.STATS_ROLES')%></th>
						</tr>
					</thead>
					<tbody>
						<% for (let i = 0; i < members.length; i++) { %>
							<% 
							const roles = members[i].roles.cache.map(r => r);
							const index = roles.findIndex(r => r === "@everyone");
						
							roles.splice(index, 1);
							%>
							<tr class="bg-[#aaaaaa10] border border-[#aaaaaa10] shadow-lg">
								<td class="p-3">
									<div class="flex align-items-center">
										<% if (members[i].user.avatar) { %>
											<img class="rounded-full h-12 w-12  object-cover" src="https://cdn.discordapp.com/avatars/<%= members[i].user.id %>/<%= members[i].user.avatar %>" />
											<% } else { %>
											<img class="rounded-full h-12 w-12  object-cover" src="https://i.imgur.com/RO3uUxX.png" />
										<% } %>
								<div class="p-3">
									<strong class="text-white"><%= members[i].displayName %></strong>
									<% if (members[i].user.bot) { %>
										<img title="Discord Bot" width="28px" src="https://i.imgur.com/OKVwc6m.png">
									<% } %>
								</div>
							</div>
						</td>
						<td class="p-3">
							<b><%= members[i].user.username %><%= members[i].user.discriminator && members[i].user.discriminator !== '0' ? `#${members[i].user.discriminator}` : '' %></b> 
						</td>
						<td class="p-3 font-bold">
							<code><%= members[i].id %></code>
						</td>
						<td class="p-3">
							<span title="<%= dayjs(members[i].joinedAt).format("dddd MMMM Do YYYY, h:mm a") %>"><%= dayjs(members[i].joinedAt).format("DD/MM/YYYY, HH:mm:ss") %></span>
						</td>
						<td class="p-3 ">
							<% if (roles.length === 0) { %>
								<p class="center inline-block select-none whitespace-nowrap rounded-lg bg-gray-950 py-2 px-3.5 align-baseline font-sans text-xs font-bold uppercase leading-none text-white"><%- __('WEB.MEMBERS_NO_ROLES') %></p>
								<% } else { %>
									<% for (let j = 0; j < roles.length; j++) { %>
										<span class="center inline-block select-none whitespace-nowrap rounded-lg bg-gray-950 py-2 px-3.5 align-baseline font-sans text-xs font-bold uppercase leading-none" style="color: <%= roles[j].hexColor === "#000000" ? "#ffffff" : roles[j].hexColor %>" title="<%= roles[j].id %>"><b><%= roles[j].name %></b></span>
										<% } %>
									<% } %>
								</td>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<div class="justify-center flex space-x-2 text-gray-400">
				<% if (currentPage > 1) { %>
					<a href="/dashboard/server/<%= guild.id %>/members?page=<%= currentPage - 1 %>">
						<button class="flex items-center justify-center w-10 h-10 rounded-full focus:shadow-outline hover:text-gray-500 hover:bg-[#aaaaaa10] hover:border hover:border-[#aaaaaa10] hover:shadow-lg">
							<i class="fa-solid fa-chevron-left w-4 h-4 fill-current"></i>
						</button>
					</a>
					<% } %>

					<% 
					let startPage = Math.max(1, currentPage - 2);
					let endPage = Math.min(totalPages, startPage + 4);
					startPage = Math.max(1, endPage - 4);

					for (let i = startPage; i <= endPage; i++) { 
						let pageUrl = url.parse(req.url, true);
						pageUrl.query.page = i;
						delete pageUrl.search;
						%>

				<a href="/dashboard/server/<%= guild.id %>/members?page=<%= i %>">
					<button class="<%= i === currentPage ? 'current-page' : '' %> w-10 h-10 rounded-full focus:shadow-outline hover:bg-[#aaaaaa10] hover:border hover:border-[#aaaaaa10] hover:shadow-lg">
						<%= i %>
					</button>
				</a>
				<% } %>

				<% if (currentPage < totalPages) { %>
					<a href="/dashboard/server/<%= guild.id %>/members?page=<%= currentPage + 1 %>">
						<button class="flex items-center justify-center w-10 h-10 rounded-full focus:shadow-outline hover:text-gray-500 hover:bg-[#aaaaaa10] hover:border hover:border-[#aaaaaa10] hover:shadow-lg">
							<i class="fa-solid fa-chevron-right w-4 h-4 fill-current"></i>
						</button>
					</a>
				<% } %>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>