<%- include("../partials/header") %>

<title><%= bot.user.username.toLowerCase() %>.lol - <%= guild.name %></title>

<div class="flex items-center justify-center mt-3.5">
    <img
    class="inline-block bject-cover h-56 w-56 rounded-2xl object-cover object-center"
    alt="guild image"
    src="<%= guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}?size=512` : 'https://i.imgur.com/RO3uUxX.png' %>"
    />
</div>
<h1 class="mt-9 text-white text-center font-bold text-2xl"><%- __('WEB.DASHBOARD_STATS')%> <span class="text-green-400"><%= guild.name %></span></h1>
<div class="flex items-center justify-center mt-7 text-sm text-gray-400">
    <a href="/dashboard/server/<%= guild.id %>" class="flex-no-shrink bg-green-500 hover:bg-green-600 px-5 ml-4 py-2 text-xs shadow-sm hover:shadow-lg font-medium tracking-wider text-white rounded-full transition ease-in duration-300"><i class="fa-regular fa-circle-left"></i> <%- __('WEB.DASHBOARD_BACK')%></a>
</div>
  <div class="flex flex-col mt-5 w-1/2 mx-auto">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-[#aaaaaa10] sm:rounded-lg">
          <table class="min-w-full divide-y divide-[#aaaaaa10]">
            <thead class="bg-[#aaaaaa10] border border-[#aaaaaa10] shadow-lg">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                  <%- __('WEB.STATS_TYPE')%>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                  <%- __('WEB.STATS_DATA')%>
                </th>
              </tr>
            </thead>
            <tbody class="bg-[#aaaaaa10] border border-[#aaaaaa10] shadow-lg divide-y divide-[#aaaaaa10] text-gray-300">
              <tr>
                <td class="px-6 py-4 whitespace-nowrap"><%- __('WEB.STATS_ID')%></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= guild.id %></td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap"><%- __('WEB.STATS_OWNER')%></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= bot.users.cache.get(guild.ownerId).username %><% bot.users.cache.get(guild.ownerId).discriminator && bot.users.cache.get(guild.ownerId).discriminator !== '0' ? `#${bot.users.cache.get(guild.ownerId).discriminator}` : '' %> (<%= bot.users.cache.get(guild.ownerId).id %>)</td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap"><%- __('WEB.STATS_CREATED')%></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= dayjs(guild.createdAt).format("DD/MM/YYYY, HH:mm:ss") %></td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap"><%- __('WEB.DASHBOARD_MEMBERS')%></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= guild.memberCount - guild.members.cache.filter(m => m.user.bot).size %> <%- __('WEB.STATS_USERS')%>, <%= guild.members.cache.filter(m => m.user.bot).size %> <%- __('WEB.STATS_BOTS')%></td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap"><%- __('WEB.STATS_CHANNELS')%></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= guild.channels.cache.filter(c => c.type === channelType.GuildText).size %> <%- __('WEB.STATS_TEXT')%>, <%= guild.channels.cache.filter(c => c.type === channelType.GuildVoice).size %> <%- __('WEB.STATS_VOICE')%></td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap"><%- __('WEB.STATS_EMOJIS')%></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= guild.emojis.cache.filter(e => e.animated === false).size %> <%- __('WEB.STATS_NORMAL')%>, <%= guild.emojis.cache.filter(e => e.animated === true).size %> <%- __('WEB.STATS_ANIMATED')%></td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap"><%- __('WEB.STATS_ROLES')%></td>
                <td class="px-6 py-4 whitespace-nowrap"><%= guild.roles.cache.size %></td>
              </tr>
              <tr>
              <td class="px-6 py-4 whitespace-nowrap"><%- __('WEB.STATS_HIGHEST_ROLE')%></td>
                <td class="px-6 py-4 whitespace-nowrap"><span class="center relative inline-block select-none whitespace-nowrap rounded-lg bg-gray-950 py-2 px-3.5 align-baseline font-sans text-xs font-bold uppercase leading-none" style="color: <%= guild.roles.highest.hexColor %>; background-color: #23272A; border-radius: 5px; padding: 2.5px;"><b><%= guild.roles.highest.name %></b></span></td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
</div>

<%- include("../partials/footer") %>