<%- include("partials/header") %>

<title><%= bot.user.username.toLowerCase() %>.lol - privacy policy</title>

<%

var mailPrivacy = `<a class="hover:text-gray-400" href="mailto:admin@skillzl.dev?&subject=Privacy Policy eres.lol&body=Add what you problem or suggestion there.">admin.skillzl.dev`;

%>

<div class="pt-20">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 text-left text-white">
        <h1 class="font-bold text-2xl"><%- __('WEB.PRIVACY_TITLE')%></h1>
        <a href="/privacy">
            <img src="/static/eres-crop.png" alt="eres.lol logo" class="mt-2 navicon-fade" width="24" height="auto"/>
        </a>
        <h2 class="font-bold mt-2"><%- __('WEB.PRIVACY_INTRODUCTION')%></h2>
        <p><%- __('WEB.PRIVACY_INTRODUCTION_SUB')%></p>
            <p><%- __('WEB.PRIVACY_INTRODUCTION_SUB2')%></p>
                <p><%- __('WEB.PRIVACY_INTRODUCTION_SUB3')%></p>
        <h3 class="font-bold mt-2"><%- __('WEB.PRIVACY_WHAT_DATA_WE_COLLECT')%></h3>
        <p><%- __('WEB.PRIVACY_WHAT_DATA_WE_COLLECT_SUB')%></p>
        <p class="mt-2"> - <%- __('WEB.PRIVACY_DISCORD_ID')%></p> 
        <p> - <%- __('WEB.PRIVACY_DISCORD_USERNAME')%></p>
            <p> - <%- __('WEB.PRIVACY_GUILD_ID')%></p>
                <p> - <%- __('WEB.PRIVACY_GUILD_NAME')%></p>
                    <p> - <%- __('WEB.PRIVACY_CHANNEL_ID')%></p>
                    <p class="mt-2"><%- __('WEB.PRIVACY_WHAT_DATA_WE_COLLECT_SUB2')%></p>
                        <p><%- __('WEB.PRIVACY_WHAT_DATA_WE_COLLECT_SUB3')%></p>
        <h4 class="font-bold mt-2"><%- __('WEB.PRIVACY_HOW_USE')%></h4>
        <p><%- __('WEB.PRIVACY_HOW_USE_SUB')%></p>
            <p><%- __('WEB.PRIVACY_HOW_USE_SUB2')%></p>
                <p><%- __('WEB.PRIVACY_HOW_USE_SUB3')%></p>
                    <p><%- __('WEB.PRIVACY_HOW_USE_SUB4')%></p>
        <h5 class="font-bold mt-2"><%- __('WEB.PRIVACY_DATA_SECURITY')%></h5>
        <p><%- __('WEB.PRIVACY_DATA_SECURITY_SUB')%></p>

        <h6 class="font-bold mt-2"><%- __('WEB.PRIVACY_CHANGES')%></h6>
        <p><%- __('WEB.PRIVACY_CHANGES_SUB')%></p>

        <p class="font-bold mt-2"><%- __('WEB.PRIVACY_CONTACT')%></p>
        <p><%- __('WEB.PRIVACY_CONTACT_SUB').replace('{mail}', mailPrivacy)%></p>
        </div>
    </div> 

<%- include("partials/footer") %>