<%- include("partials/header") %>

<title><%= bot.user.username.toLowerCase() %>.fun - release</title>

<body>
    <div class="container mx-auto">
        <div class="rounded-xl bg-[#aaaaaa10] border border-[#aaaaaa10] shadow-lg text-white p-6 mt-3">
            <div>
                <% 
                const owner = 'skillzl';
                const repo = 'eres';
                %>

                <a href="https://github.com/<%= owner %>/<%= repo %>/releases/tag/<%= release.tagName %>">
                    <button type="button" class="rounded-full px-4 mr-2 bg-[#aaaaaa10] border border-[#aaaaaa10] text-white p-2 leading-none flex items-center hover:-translate-y-0.5 duration-300">
                        <%= release.tagName %> release <span class="mx-3 text-gray-500"> | </span><span class="text-cyan-300">see on github <i class="fa-solid fa-arrow-right text-gray-300"></i></span>
                    </button>
                </a>
            </div>
            <div class="text-white mt-3">
            <h1>release name: <%= release.name %></h1>
            <p>published at: <%= release.publishedAt %></p>
            <ul>
                <% release.body.split('\n').forEach(function(line) { %>
                <% if (line.startsWith('-')) { %>
                    <li><span class="text-gray-400 mx-2">•</span><%= line.slice(1).trim() %></li>
                <% } else { %>
                    <p class="mt-2"><%= line %></p>
                <% } %>
            <% }); %>
        </ul>
        <div class="mt-3">
            <a href="https://github.com/<%= release.author %>">
                <button type="button" class="rounded-full px-10 mr-2 bg-[#aaaaaa10] border border-[#aaaaaa10] text-white p-2 leading-none flex items-center hover:-translate-y-0.5 duration-300">
                    <img src="<%= release.avatarUrl %>" alt="Author's avatar" class="-ml-8 size-8 rounded-full"> <span class="pl-4"><%= release.author %></span>
                </button>
            </a>
        </div>
    </div>
  </div>
 </div>
</body>

<%- include("partials/footer") %>