<%- include("partials/header") %>

  <title>ucp.<%= bot.user.username.toLowerCase() %>.dev - stats</title>

  <div class="bg-light text-dark has-text-centered" style="padding-top: 145px;">
    <div class="p-5">
      <div class="container">
        <h2 class="is-size-2 has-text-white">Bot Statistics</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="notification is-link mt-5" style="background-color: #0c584d;">
  <nav class="level has-text-white">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Users</p>
        <p class="title has-text-white"><%= bot.users.cache.size || 0 %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Guilds</p>
        <p class="title has-text-white"><%= bot.guilds.cache.size || 0 %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Channels</p>
        <p class="title has-text-white"><%= bot.channels.cache.size || 0 %> (<%= bot.channels.cache.filter(c=> c.type ===
          channelType.GuildText).size %> text & <%= bot.channels.cache.filter(c=> c.type ===
            channelType.GuildVoice).size %> voice)</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Emojis</p>
        <p class="title has-text-white"><%= bot.emojis.cache.size || 0 %> (<%= bot.emojis.cache.filter(e=> e.animated === false).size %> &
          <%= bot.emojis.cache.filter(e=> e.animated === true).size %> gif)</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Uptime</p>
        <p class="title has-text-white"><%= uptime %></p>
      </div>
    </div>
  </nav>
  <nav class="level has-text-white">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Ping (Latency)</p>
        <p class="title has-text-white"><%= bot.ws.ping || 0 %>ms</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Discord.js Version</p>
        <p class="title has-text-white">v<%= djsVersion %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Database Version</p>
        <p class="title has-text-white"><%= mongoDBVersion %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Node.js Version</p>
        <p class="title has-text-white"><%= process.version %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Usage</p>
        <p class="title has-text-white">mem: <%= (process.memoryUsage().rss / 1024 / 1024).toFixed(2) %> MB</p>
        <p class="title has-text-white">cpu: <%= (process.cpuUsage().system / 1024 / 1024).toFixed(2) %>%</p>
      </div>
    </div>
  </div>
 </div>