<%- include("partials/header") %>

<title><%= bot.user.username.toLowerCase() %>.lol - terms of service</title>

<div class="pt-20">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 text-left text-white">
        <h1 class="font-bold text-2xl"><%- __('WEB.TOS_TITLE')%></h1>
        <a href="/tos">
            <img src="/static/eres-crop.png" alt="eres.lol logo" class="mt-2 navicon-fade" width="24" height="auto"/>
        </a>
        <h2 class="font-bold mt-2"><%- __('WEB.TOS_ACCEPTING')%></h2>
        <p><%- __('WEB.TOS_ACCEPTING_SUB')%></p>
        <h3 class="font-bold mt-2"><%- __('WEB.TOS_LICENSE')%></h3>
        <p><%- __('WEB.TOS_LICENSE_SUB')%></p>
        <h4 class="font-bold mt-2"><%- __('WEB.TOS_LIMITATIONS')%></h4>
        <p><%- __('WEB.TOS_LIMITATIONS_SUB')%></p>
        <h5 class="font-bold mt-2"><%- __('WEB.TOS_ERRATA')%></h5>
        <p><%- __('WEB.TOS_ERRATA_SUB')%></p>
        <h6 class="font-bold mt-2"><%- __('WEB.TOS_CONTRIBUTION')%></h6>
        <p><%- __('WEB.TOS_CONTRIBUTION_SUB')%></p>
        <p class="font-bold mt-2"><%- __('WEB.TOS_LINKS')%></p>
        <p><%- __('WEB.TOS_LINKS_SUB')%></p>
        <p class="font-bold mt-2"><%- __('WEB.TOS_MODIFICATIONS')%></p>
        <p><%- __('WEB.TOS_MODIFICATIONS_SUB')%></p>
        </div>
    </div>

<%- include("partials/footer") %>
